<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/api/Attachments/images/download/style.css">

<!-- header starts -->
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="#"><img src="/api/Attachments/images/download/scora_xchange_logo.png" class="logo_Css"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right color-white m-right20" style="margin-top:26px;">
           <li><a>HOME</a></li>
		<li><a>INSTITUTE</a></li>
		<li><a>EMPLOYER</a></li>
		<li><a>STUDENT</a></li>

        </ul>
      </div>
    </div>
  </div>
  <!-- header ends -->

  <!-- body part starts -->
  <div class="container-fluid" style="margin-top: 100px;">
    
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
    <div >
        
  </div>
  <div id="institute_bg">
   
  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="margin-top:30px;margin-bottom:30px">
<div class="text-center">
<h1  style="margin-top:80px">Registration verified successfully</h1>

<h4 style="margin-top:30px">You are now ready to <a href="/" style="margin-top:50px"> Login </a>.</h4>

</div>

</div>
<!-- singup ends -->
  </div>
</div>
</div>
<div class="clearfix"></div>
  </div>
<!-- body part ends -->
 <!-- footer section starts -->
  <!-- footer starts -->
  <div class="clearfix"></div>
  <div class=" footer">
    <div class="container font_robotoregular">
  
  
  <div class="col-lg-12  col-md-12  col-sm-12 col-xs-12">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:60px">
  <p class="color-blue f-size16 font_robotobold">ABOUT US</p>
  <p class="color_sitelinks font_robotoregular">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0" style="margin-top:60px">         
              <ul><li> <p class="color-blue f-size16 font_robotobold">
                  <b>CONNECT WITH US</b>
                </p></li></ul>
            <ul style="list-style:none;">
                <li class="float_left">
                  <img class="width40 cursor-pointer" src="/api/Attachments/images/download/facebook.png" onmouseover="this.src='/api/Attachments/images/download/facebook_enable.png'"
                    onmouseout="this.src='/api/Attachments/images/download/facebook.png'">
                </li>
                <li class="float_left" style="margin-left: 5px;">
                  <img class="width40 cursor-pointer" src="/api/Attachments/images/download/insta_icon.png" onmouseover="this.src=this.src.replace('insta_icon','insta_icon_enable')"
                    onmouseout="this.src=this.src.replace('insta_icon_enable','insta_icon')">
                </li>
                <li class="float_left" style="margin-left: 5px;">
                  <img class="width40 cursor-pointer" src="/api/Attachments/images/download/linkedin.png" onmouseover="this.src='/api/Attachments/images/download/linkedin_enable.png'"
                    onmouseout="this.src='/api/Attachments/images/download/linkedin.png'">
                </li>
                <li class="float_left" style="margin-left: 5px;">
                  <img class="width40 cursor-pointer" src="/api/Attachments/images/download/twitter.png" onmouseover="this.src='/api/Attachments/images/download/twitter_enable.png'"
                    onmouseout="this.src='/api/Attachments/images/download/twitter.png'">
                </li>
                <li class="float_left" style="margin-left: 5px;">
                  <img class="width40 cursor-pointer" src="/api/Attachments/images/download/google_icon.png" onmouseover="this.src='/api/Attachments/images/download/google_icon_enable%20(1).png'"
                    onmouseout="this.src='/api/Attachments/images/download/google_icon.png'">
                </li>
              </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:60px">
            <img src="/api/Attachments/images/download/logo_footer.png" class="pull-right img-responsive width180">
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div style="margin-top:30px;margin-left:27px;">
            <p class=" color-blue font_robotobold">CONTACT US</p>
            <input type="text" placeholder="Enter your E-mail" style="width: 70%;padding: 6px;">
            <button class="submit-btn1 btn"><img style="width:34px" src="/api/Attachments/images/download/send.png"></button>
        </div>
          
          
        </div>
     
      
         
     
    </div>
  </div>
  
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:40px">
      <img src="/api/Attachments/images/download/footer_seperator%20line.png" class="width100">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"     style="margin-top: 15px;
    margin-bottom: 20px;">
      <p class="text-center color_sitelinks">Copyright &copy; 2017. All Rights Reserved</p>
    </div>
  
      
  
    </div>
  </div>
  
   <!-- footer ends -->
    
     <!-- footer section ends -->